<div class="col-10 offset-1">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/terryllowery">Terry,</a> A web developer on a mission
    to play around with new technologies and learn as much as he can cram into his head. Terry is always looking for new
    opportunities to learn and apply solutions to problems. He enjoys the opportunities to work with start-ups, freelance
    work, or corporate development teams.
  </p>
  <p>
    Splurty is a cool little web app that will display a random quote and allow people to add their own quotes.
    We added another feature that makes an API call to an online quote repository that can be found <a href=" http://forismatic.com/en"> here.</a>
    Every time a page is refreshed showing an existing quote a new one is pulled from the API and stored in the local database.
    The app is written in HTML5, CSS3, and Ruby on Rails. . This allows for a growing quotes database if no one has anything to say.
  </p>
  <p>
    Splurty is an application that was written for a full-stack coding class called <a target="_blank" href="http://thefirehoseproject.com">The Firehose Project</a>
    - Learn to code like a coder there.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'terry.jpg', class: 'img-fluid rounded' %>
    </div>
    <div class="col-12 col-sm-7 offset-1">
      <h2 class="text-center">Terry Lowery</h2>
      <br />
      <p>
        Terry Lowery is a web developer and systems engineer. He has worked in the industry for 18 years doing anything
        from systems engineering, network administration, and software development. He has also worked with anything
        from schools, colleges, state government, and large web hosting companies. He also works with people looking
        for applications for startup companies.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>