<p class="splutry-paragraph">
  <span class="splutry-id">Spurty No. <%= @quote.id %> / <%= Quote.count %> </span> - You know life is great when...
</p>
<h1><%= @quote.saying %></h1>
<h2 class="float-right">--<%= @quote.author %></h2>

<br />
<br />
<br />
<br />






