@import "bootstrap";
//@import url('https://fonts.googleapis.com/css?family=Lemonada|Ranga');

//font-family: 'Ranga', cursive;
//font-family: 'Lemonada', cursive;

.clear {
  clear: both;
}
.circle {
    font-weight:bold;
    font-style: italic;
    font-family: 'cinzel_decorativeregular';
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}
.slogan {
  font-family: 'cinzel_decorativebold';
  font-style: italic;
  padding-top: 26px;
}
.links {
  padding-top: 26px;
}
.links a {
  font-family: 'cinzel_decorativebold';
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  letter-spacing: 2px;
}
header {
  border-top: 9px solid #222222;
}
hr {
  clear: both;
}
h1 {
  font-family: 'cinzelregular';
  font-weight: bold;
  font-size: 48px;
}
h2 {
  font-family: 'cinzelregular';
  font-style: italic;
}
.next-quote {
  color: #f84342;
}
.logo:hover {
  text-decoration: none;
}
p {
  font-family: 'cinzelregular';
  font-size: 14px;
}
.footer-blurb {
  text-align: right;
}
.new_quote {
  font-family: 'cinzelregular';
  font-size: 26px;
}
#myModalLabel {
  font-family: 'cinzel_decorativebold';
  font-size: 16px;
}
.splutry-paragraph {
  font-family: 'cinzelbold';
  font-size: 16px;
}
.splutry-id {
  color: #666666;
  font-family: 'cinzelregular';
}
::selection {
  background-color: #f84342;
}
@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
  
}